body{
    
    
    background-image: url(../image/sao-paulo-brazil-cityscape-of-the-cable-stayed-bridge-and-both-riverbanks-of-pinheiros-river\ EDITADO.PNG);
    background-size: cover;          
    background-position: center;      
    background-repeat: no-repeat;    
    background-attachment: fixed;     
    min-height: 100vh;            

}